<div class="container-fluid">
    <div id="notebooks">
        <div class="control-group">
            <label for="user" class="control-label">Name</label>
            <div class="input-group">
                <input type="text" class="form-control" id="user" ng-model="searchUser"/>
                <span class="input-group-btn">
                    <button type="button" ng-click="model.setUserView(null)" class="btn btn-default"
                            data-toggle="modal" data-target="#usrNewModal">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </span>
            </div>
        </div>
        <br>
        <div class="list-group" ng-repeat="user in model.userList | filter:{username: searchUser}">
            <a class="list-group-item" ng-click="model.setUserView(user)" data-toggle="modal" data-target="#usrEditModal">
                Username: {{user.username}}
            </a>
        </div>
    </div>
</div>