<nav class="navbar nav-bar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tirNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/user/{{model.user._id}}">Tir</a>
            <p ng-show="$root.currentUser" class="navbar-text">Logged in as: {{$root.currentUser.username}}</p>
        </div>
        <div class="collapse navbar-collapse" id="tirNav">
            <form class="navbar-form navbar-right">
                <a ng-click="model.logout()" class="btn btn-default btn-block">Logout</a>
            </form>

            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/user/profile/{{model.user._id}}">
                            <span class="glyphicon glyphicon-user hidden-xs"></span>
                            <span class="visible-xs">View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/user/edit/{{model.user._id}}">
                            <span class="glyphicon glyphicon-cog hidden-xs"></span>
                            <span class="visible-xs">Edit Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for users">
                </div>
                <a href="#/search/{{keyword}}" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="#/search/{{keyword}}" class="btn btn-default visible-xs">
                    <span>Search</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<br>

<div class="container-fluid">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div class="well">
                <p class="admin-stat-header">Registered Users: {{model.userList.length}}</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <p class="admin-stat-header">Total articles posted: {{model.artDataSize}}</p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="well">
                <p class="admin-stat-header">Total comments: {{model.commDataSize}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-target="#panel1" data-toggle="pill">Manage users</a></li>
            </ul>
            <br><br>
            <div class="tab-content">
                <div class="tab-pane active" id="panel1">
                    <div>
                        <ng-include src="'../project/views/admin/admin-user-search.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="usrEditModal" class="modal fade" role="dialog">
    <ng-include src="'../project/views/admin/admin-user-edit.html'">
</div>
<div id="usrNewModal" class="modal fade" role="dialog">
    <ng-include src="'../project/views/admin/admin-user-new.html'">
</div>