<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit User</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" ng-model="model.currentUserView.username"
                           class="form-control" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" ng-model="model.currentUserView.email" class="form-control" id="email"
                           placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" ng-model="model.currentUserView.firstName" class="form-control"
                           id="first-name" placeholder="First">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" ng-model="model.currentUserView.lastName" class="form-control" id="last-name" placeholder="Last">
                </div>
                <div class="control-group">
                    <label for="dob" class="control-label">Date of Birth</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd"
                               ng-model="model.currentUserView.age" is-open="calOpen"/>
                        <span class="input-group-btn">
                            <button id="dob" type="button" class="btn btn-default" ng-click="calOpen = !calOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phonenum">Phone</label>
                    <input type="text" ng-model="model.currentUserView.phone"
                           class="form-control" id="phonenum" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select ng-model="model.currentUserView.gender" class="form-control" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <textarea class="form-control" ng-model="model.currentUserView.summary"
                              rows="5" id="summary" style="resize: none;"></textarea>
                </div>
            </form>
            <div class="form-group">
                <label for="picture">Picture</label>
                <input ng-model="model.currentUserView.picture" type="text" class="form-control" id="picture">
            </div>
            <br>
            <a class="btn btn-primary btn-block" ng-click="model.updateUserInfo(model.currentUserView)">Save</a>
            <a ng-if="!model.currentUserView.rights" class="btn btn-warning btn-block"
               ng-click="model.setRights(model.currentUserView, true)">Promote to Admin</a>
            <a ng-if="model.currentUserView.rights" class="btn btn-primary btn-block"
               ng-click="model.setRights(model.currentUserView, false)">Demote to User</a>
            <a class="btn btn-danger btn-block" ng-click="model.removeUser(currentUserView)">Delete Account</a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>