<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create User</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" ng-model="model.currentUserView.username"
                           class="form-control" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="model.currentUserView.password" id="password" class="form-control"
                           placeholder="Password" required/><br>
                    <input type="password" ng-model="verify_password" class="form-control" placeholder="Verify password"
                           required/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" ng-model="model.currentUserView.email" id="email" class="form-control" placeholder="Email"
                           required/><br>
                    <input type="email" ng-model="verify_email" class="form-control" placeholder="Verify email"
                           required/>
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" ng-model="model.currentUserView.firstName" class="form-control" id="first-name" placeholder="First">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" ng-model="model.currentUserView.lastName" class="form-control" id="last-name" placeholder="Last">
                </div>
                <div class="control-group">
                    <label for="dob" class="control-label">Date of Birth</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd"
                               ng-model="model.currentUserView.age" is-open="calOpen"/>
                        <span class="input-group-btn">
                            <button id="dob" type="button" class="btn btn-default" ng-click="calOpen = !calOpen">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phonenum">Phone</label>
                    <input type="text" ng-model="model.currentUserView.phone"
                           class="form-control" id="phonenum" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <select ng-model="model.currentUserView.gender" class="form-control" id="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <textarea class="form-control" ng-model="model.currentUserView.summary"
                              rows="5" id="summary" style="resize: none;"></textarea>
                </div>
            </form>
            <div class="well">
                <div class="form-group">
                    <label for="picture">Picture</label>
                    <input ng-model="model.currentUserView.picture" type="text" class="form-control" id="picture">
                </div>
                <br>
                <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <label>Upload</label>
                    <input name="myFile" type="file" class="form-control" accept="image/*"/>
                    <input name="width" value="50" style="display: none"/>
                    <input name="userId" value="{{model.currentUserView._id}}" style="display: none"/>
                    <br>
                    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
                </form>
            </div>
            <br>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="model.currentUserView.rights">Grant admin rights</label>
            </div>
            <a class="btn btn-success btn-block" data-dismiss="modal"
               ng-click="model.createUser(model.currentUserView, verify_password, verify_email)">Create User</a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>