<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navNoMem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Tir</a>
        </div>
        <div class="collapse navbar-collapse" id="navNoMem">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid header">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>All your social media in one location.</h1>
            <hr>
            <p>Tir is a comprehensive mini news aggregator which gives you the power to view all your
                favorite headlines in a few clicks.</p>
            <a class="btn btn-primary btn-launch page-scroll" href="#/register">Register</a>
        </div>
    </div>
</div>