<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navNoMem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Tir</a>
        </div>
        <div class="collapse navbar-collapse" id="navNoMem">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>Login</h1>
    <br>
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required/>
    </div>

    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required/>
    </div>
    <a class="btn btn-primary btn-block" ng-click="model.login(user)">Login</a>
    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>Sign in with Facebook
    </a>
</div>