<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tirNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-if="currentUser" class="navbar-brand" href="#/user/{{currentUser._id}}">Tir</a>
            <a ng-if="!currentUser" class="navbar-brand" href="#/">Tir</a>
            <p ng-if="$root.currentUser" class="navbar-text">Logged in as: {{$root.currentUser.username}}</p>
        </div>
        <div class="collapse navbar-collapse" id="tirNav">
            <form ng-show="!currentUser" class="navbar-form navbar-right">
                <a href="#/login" class="btn btn-default btn-block">Login</a>
            </form>
            <form ng-show="currentUser" class="navbar-form navbar-right">
                <a ng-click="model.logout()" class="btn btn-default btn-block">Logout</a>
            </form>
            <div ng-if="currentUser" class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/user/profile/{{currentUser._id}}">
                            <span class="glyphicon glyphicon-user hidden-xs"></span>
                            <span class="visible-xs">View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/user/edit/{{currentUser._id}}">
                            <span class="glyphicon glyphicon-cog hidden-xs"></span>
                            <span class="visible-xs">Edit Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for users">
                </div>
                <a href="#/search/{{keyword}}" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="#/search/{{keyword}}" class="btn btn-default visible-xs">
                    <span>Search</span>
                </a>
            </form>
        </div>
    </div>
</nav>


<br>
<div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="well text-center" ng-init="">
                <p>{{model.printName(model.user)}}</p>
                <img ng-if="model.user.picture" ng-src="{{model.user.picture}}"
                     class="img-circle" height="65" width="65">
                <br><br>
                <span ng-show="currentUser && !model.isProfileOwner()">
                    <button ng-show="!model.determineFollowStatus()"
                            ng-click="model.follow()"
                            type="button" class="btn btn-success">
                        <span class="fa fa-user-plus"></span> Follow
                    </button>
                    <button ng-show="model.determineFollowStatus()"
                            ng-click="model.unfollow()"
                            type="button" class="btn btn-primary">
                        <span class="fa fa-ban"></span> Unfollow
                    </button>
                </span>
            </div>
            <div class="well">
                <h3>General Information</h3>
                <br>
                <div class="text-left">
                    <p>Gender: {{model.user.gender}}</p>
                    <p>Email: {{model.user.email}}</p>
                    <p ng-if="model.user.phone">Phone Number: {{model.user.phone}}</p>
                    <p ng-if="model.user.age">Age: {{model.calculateAge(model.user)}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default text-left">
                                <div class="panel-body">
                                    <p><strong>Bio: </strong>
                                        {{!model.user.summary ? 'None' : model.user.summary}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel panel-default text-left">
                                <div class="panel-body">
                                    <p><strong>Article Interests:</strong>
                                        <span ng-repeat="interest in model.interests">
                                            {{interest.name}}{{$last ? '' : ', '}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default text-center flw-cube">
                        <a href="#/user/profile/{{model.user._id}}/followers" class="flw-link">
                            <div class="panel-body">
                                <p class="follow-label">Followers</p>
                                <hr>
                                <span class="follower-head">{{model.user.followers.length}}</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default text-center flw-cube">
                        <a href="#/user/profile/{{model.user._id}}/following" class="flw-link">
                            <div class="panel-body">
                                <p class="follow-label">Following</p>
                                <hr>
                                <span class="follower-head">{{model.user.following.length}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row content profile-feed">
                <div class="col-sm-11" ng-repeat="media in model.mediaTuple">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="pull-left">
                                <span>
                                    <a href="#/user/profile/{{media.posterId}}">{{media.poster}}</a>
                                    - {{model.toReadableDate(media.postDate)}}
                                </span>
                            </h5>
                            <div class="btn-toolbar" ng-if="currentUser">
                                <a ng-if="model.determinePostControls(media)"
                                   ng-click="model.removeFromProfile(media)"
                                   class="btn btn-sq-xs btn-danger pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a data-toggle="modal" ng-click="model.prepareShare(media)" data-target="#shareModal"
                                   class="btn btn-sq-xs btn-warning pull-right">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <img ng-src="{{media.image}}" width="100%" height="50%" />
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p class="headline-main">{{media.title}}</p>
                            </div>
                            <div class="panel-body">{{media.description}}
                                <small ng-if="media.author"><br>{{media.author}}</small>
                                <small ng-if="media.author && media.published">-</small>
                                <small ng-if="media.published">{{model.toReadableDate(media.published)}}</small>
                            </div>
                            <a ng-href="{{media.url}}" target="_blank">
                                <div class="panel-footer"><p class="headline-link">{{media.url}}</p></div>
                            </a>
                            <div ng-if="currentUser" class="panel-heading text-center">
                                <div rating-widget media="{{media._id}}"></div>
                            </div>
                            <div class="panel panel-group">
                                    <div class="panel-heading">
                                        <strong>Comments</strong>
                                    </div>
                                    <div class="panel-body" >
                                        <div comment-media data="{{media._id}}"></div>
                                        <form ng-if="currentUser" class="form-horizontal comment-textarea" role="form">
                                            <div class="form-group">
                                                <textarea ng-model="commentText"
                                                          class="form-control" rows="3" id="comment" required>

                                                </textarea>
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="model.createComment(commentText, media._id)"
                                                        class="btn btn-default">Post
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="shareModal" role="dialog">
    <ng-include src="'../project/views/media/media-share.html'">
</div>