<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tirNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/user/{{currentUser._id}}">Tir</a>
            <p ng-show="$root.currentUser" class="navbar-text">Logged in as: {{$root.currentUser.username}}</p>
        </div>
        <div class="collapse navbar-collapse" id="tirNav">
            <form class="navbar-form navbar-right">
                <a ng-click="model.logout()" class="btn btn-default btn-block">Logout</a>
            </form>
            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/user/profile/{{currentUser._id}}">
                            <span class="glyphicon glyphicon-user hidden-xs"></span>
                            <span class="visible-xs">View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/user/edit/{{currentUser._id}}">
                            <span class="glyphicon glyphicon-cog hidden-xs"></span>
                            <span class="visible-xs">Edit Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for users">
                </div>
                <a href="#/search/{{keyword}}" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="#/search/{{keyword}}" class="btn btn-default visible-xs">
                    <span>Search</span>
                </a>
            </form>
        </div>
    </div>
</nav>

<br>
<div class="container-fluid">

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <h1>Profile</h1>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="model.user.username"
                   class="form-control" id="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="model.password" class="form-control" id="password" placeholder="Current password"> <br>
            <input type="password" ng-model="model.new_password"
                   class="form-control" placeholder="New password"> <br>
            <input type="password" ng-model="model.verify" class="form-control" placeholder="Verify password">
            <p class="form-text text-muted">
                Please do not share passwords to others.
            </p>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" ng-model="model.user.email" class="form-control" id="email" placeholder="Email"
            required>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" ng-model="model.user.firstName" class="form-control" id="first-name" placeholder="First">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" ng-model="model.user.lastName" class="form-control" id="last-name" placeholder="Last">
        </div>
        <div class="control-group">
            <label for="dob" class="control-label">Date of Birth</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd"
                       ng-model="model.user.age" is-open="calOpen" max-date="maxDate" />
                <span class="input-group-btn">
                    <button id="dob" type="button" class="btn btn-default" ng-click="calOpen = !calOpen">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="phonenum">Phone</label>
            <input type="text" ng-model="model.user.phone" class="form-control" id="phonenum" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select ng-model="model.user.gender" class="form-control" id="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" ng-model="model.user.summary"
                      rows="5" id="summary" style="resize: none;"></textarea>
        </div>
    </form>
    <div class="well">
        <div class="form-group">
            <label for="picture">Picture</label>
            <input ng-model="model.user.picture" type="text" class="form-control" id="picture">
        </div>
        <br>
        <form action="/api/upload" method="post" enctype="multipart/form-data">
            <label>Upload</label>
            <input name="myFile" type="file" class="form-control" accept="image/*"/>
            <input name="width" value="50" style="display: none"/>
            <input name="userId" value="{{model.user._id}}" style="display: none"/>
            <br>
            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
        </form>
    </div>
    <br>
    <a class="btn btn-primary btn-block" ng-click="model.updateUserInfo()">Save</a>
    <a class="btn btn-danger  btn-block" ng-click="model.deleteAccount()" href="#/login">Delete Account</a>
    <br>
</div>
