<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navNoMem">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Tir</a>
        </div>
        <div class="collapse navbar-collapse" id="navNoMem">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <br>
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        <strong>{{model.error}}</strong>
    </div>

    <h1>Register</h1>
    <br>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" ng-model="username" id="username" class="form-control" placeholder="Username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ng-model="password" id="password" class="form-control" placeholder="Password"/><br>
        <input type="password" ng-model="verify_password" class="form-control" placeholder="Verify password"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" ng-model="email" id="email" class="form-control" placeholder="Email"/><br>
        <input type="email" ng-model="verify_email" class="form-control" placeholder="Verify email"/>
    </div>
    <a class="btn btn-primary btn-block"
       ng-click="model.register(username, password, verify_password, email, verify_email)">Register</a>
    <a class="btn btn-success btn-block" href="#/login">Login</a>
</div>