<div class="row content" ng-repeat="feed in model.feedTuple">
    <div class="col-xs-12 well">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="pull-left">
                    <span ng-if="feed.author">{{feed.author}}</span>
                    <span ng-if="feed.author && feed.publishedAt">-</span>
                    <small ng-if="feed.publishedAt">{{model.toReadableDate(feed.publishedAt)}}</small>
                </h5>
                <div class="btn-toolbar">
                    <a ng-click="model.addToProfile(feed)"
                       class="btn btn-sq-xs btn-info pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a data-toggle="modal" ng-click="model.prepareShare(feed)" data-target="#shareModal"
                       class="btn btn-sq-xs btn-warning pull-right">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                </div>
            </div>
        </div>
        <img ng-src="{{feed.urlToImage}}" width="100%" height="100%" />
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><p class="headline-main">{{feed.title}}</p></div>
                <div class="panel-body"><p>{{feed.description}}</p></div>
                <a ng-href="{{feed.url}}" target="_blank">
                    <div class="panel-footer"><p class="headline-link">{{feed.url}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>