<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tirNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/user/{{model.user._id}}">Tir</a>
            <p ng-show="$root.currentUser" class="navbar-text">Logged in as: {{$root.currentUser.username}}</p>
        </div>
        <div class="collapse navbar-collapse" id="tirNav">
            <form class="navbar-form navbar-right">
                <a ng-click="model.logout()" class="btn btn-default btn-block">Logout</a>
            </form>

            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/user/profile/{{model.user._id}}">
                            <span class="glyphicon glyphicon-user hidden-xs"></span>
                            <span class="visible-xs">View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/user/edit/{{model.user._id}}">
                            <span class="glyphicon glyphicon-cog hidden-xs"></span>
                            <span class="visible-xs">Edit Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for users">
                </div>
                <a href="#/search/{{keyword}}" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="#/search/{{keyword}}" class="btn btn-default visible-xs">
                    <span>Search</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<br>

<div class="container-fluid">

    <br>
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <div class="row content">
        <div class="col-sm-2 main-sidenav">
            <h4>Controls</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a data-toggle="modal" data-target="#addFeedModal">Add Topic</a></li>
                <li><a data-toggle="modal" data-target="#editFeedModal">Manage Topics</a></li>
                <li ng-if="model.user.rights"><a href="#/user/{{model.user._id}}/admin">Admin Controls</a></li>
            </ul><br>
        </div>


        <div class="col-sm-10 main-feed">
            <div ng-show="!model.tabSelection">
                <ng-include src="'../project/views/feed/feed-discover.html'">
            </div>
            <div ng-show="model.tabSelection">
                <ng-include src="'../project/views/feed/feed-followers.html'">
            </div>
            <ul id="bottomTabs" class="nav nav-tabs navbar-fixed-bottom nav-justified">
                <li ng-class="{ active: !model.tabSelection }">
                    <a href ng-click="model.setSelection(false)">
                        <span class="glyphicon glyphicon-globe">&nbsp;</span>Explore
                    </a>
                </li>
                <li ng-class="{ active: model.tabSelection }">
                    <a href ng-click="model.setSelection(true)">
                        <span class="glyphicon glyphicon-user">&nbsp;</span>Followers
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>







<div class="modal fade" id="shareModal" role="dialog">
    <ng-include src="'../project/views/media/media-share.html'">
</div>
<div class="modal fade" id="addFeedModal" role="dialog">
    <ng-include src="'../project/views/media/media-new.html'">
</div>
<div class="modal fade" id="editFeedModal" role="dialog">
    <ng-include src="'../project/views/media/media-edit.html'">
</div>