<div ng-repeat="media in model.profileTuple">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="pull-left">
                <span>
                    <a href="#/user/profile/{{media.posterId}}">{{media.poster}}</a>
                    - {{model.toReadableDate(media.postDate)}} -
                    <span>On: {{media._user.username}}'s Profile</span>
                </span>
            </h5>
            <div class="btn-toolbar" ng-if="currentUser">
                <a ng-if="model.determinePostControls(media)"
                   ng-click="model.removeFromProfile(media)"
                   class="btn btn-sq-xs btn-danger pull-right">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a data-toggle="modal" ng-click="model.prepareShare(feed)" data-target="#shareModal"
                   class="btn btn-sq-xs btn-warning pull-right">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </div>
        </div>
    </div>
    <img ng-src="{{media.image}}" width="100%" height="50%" />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="headline-main">{{media.title}}</p>
            </div>
            <div class="panel-body">{{media.description}}
                <small ng-if="media.author"><br>{{media.author}}</small>
                <small ng-if="media.author && media.published">-</small>
                <small ng-if="media.published">{{model.toReadableDate(media.published)}}</small>
            </div>
            <a ng-href="{{media.url}}" target="_blank">
                <div class="panel-footer"><p class="headline-link">{{media.url}}</p></div>
            </a>
            <div class="panel-heading text-center">
                <div rating-widget media="{{media._id}}"></div>
            </div>
            <div class="panel panel-group">
                <div class="panel-heading">
                    <strong>Comments</strong>
                </div>
                <div class="panel-body" >
                    <div comment-media data="{{media._id}}"></div>
                    <form class="form-horizontal comment-textarea" role="form">
                        <div class="form-group">
                            <textarea ng-model="commentText"
                                      class="form-control" rows="3" id="comment" required>
                            </textarea>
                        </div>
                        <div class="form-group">
                            <button ng-click="model.createComment(commentText, media._id)"
                                    class="btn btn-default">Post
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>