<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Websites
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <p class="navbar-text">
                        <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="navbar-text pull-left visible-xs">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </div>
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#/user/{{model.userId}}/website">
                        New Website
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <p class="navbar-text">
                        <a ng-click="model.newWebsite(name, description)" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-4 hidden-xs" style="border-right: 1px solid #333">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="website in model.websites">
                    <a href="#/user/{{website._user}}/website/{{website._id}}/page">{{website.name}}</a>
                    <a href="#/user/{{website._user}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">

            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
            </div>

            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model="name" type="text" class="form-control" id="Name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea ng-model="description" class="form-control" rows="5" id="Desc" placeholder="Description"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container pull-right">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>


