

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

.margin {
    margin-bottom: 45px;
}

img {
    position: relative;
}

.headingFade {
    color: #000000;
}

.panel1 {
    color: #ffffff;
    background-image: url("../images/cover-bos.png");
    height: 489px;
}

.panel2 {
    background-color: #474e5d;
    color: #ffffff;
}
.panel3 {
    background-color: #ffffff;
    color: #555555;
}
.panel4 {
    background-color: #2f2f2f;
    color: #fff;
}

.panel5 {
    background-color: #ffffff;
    color: #555555;
}

footer {
    background-color: #2f2f2f;
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.img-frame {
    -webkit-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 4px #fff,
            0px 0px 0px 18px rgba(0,0,0,0.2),
            6px 6px 8px 17px #555;

    -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 4px #fff,
            0px 0px 0px 9px rgba(0,0,0,0.2),
            6px 6px 8px 8px #555;

    box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
            0px 0px 0px 4px #fff,
            0px 0px 0px 9px rgba(0,0,0,0.2),
            6px 6px 8px 8px #555;
}

.navbar-default {
    background-color: #f44336;
    border-color: #ef5350;
}
.navbar-default .navbar-brand {
    color: #e0e0e0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}
.navbar-default .navbar-text {
    color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a {
    color: #e0e0e0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #f44336;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #e0e0e0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #ef5350;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #ef5350;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ef5350;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #ef5350;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #ef5350;
}
.navbar-default .navbar-toggle {
    border-color: #ef5350;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ef5350;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e0e0e0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e0e0e0;
}
.navbar-default .navbar-link {
    color: #e0e0e0;
}
.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e0e0e0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #ef5350;
    }
}

