input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.widget-overlay {
    background-color: #FFFFFF;
    position: absolute;
    right: 10px;
    padding: 5px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}