body { padding-top: 51px; }

.header {
    position: absolute;
    width: 100%;
    height: 94%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-image: url('cover.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #2c3e50;
}

.header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}

.header .header-content .header-content-inner h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 35px;
}
.header .header-content .header-content-inner hr {
    margin: 30px auto;
    width: 70%;
}
.header .header-content .header-content-inner p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 50px;
}

.btn-launch {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 30%;
}

.admin-stat-header {
    font-size: 2em;
    font-weight: 500;
}

.follower-head {
    font-size: 1.70em;
    font-weight: 400;
}

.headline-link {
    font-size: 16px;
}

.headline-main {
    font-size: 25px;
    font-weight: 400;
}

.rating-positive {
    color: #060606;
}

.rating-positive:hover {
    color: #5cb85c;
}

.rating-positive-selected {
    color: #7dd87d;
}

.rating-negative {
    color: #060606;
}

.rating-negative:hover {
    color: #d9534f;
}

.rating-negative-selected {
    color: #ff5450;
}

#bottomTabs.nav > li > a {
    background-color: #060606;
    color: #FFFFFE;
}

#bottomTabs.nav > li.active > a {
    background-color: #3d3d3d;
    color: #FFFFFF;
}

#bottomTabs.nav > li > a:hover,
#bottomTabs.nav > li > a:focus {
    text-decoration: none;
    background-color: #ccc3c7;
    color: #060606;
}



mhover {
    background-color: #808080;
}

textarea {
    resize: none;
}

.control-padding {
    padding: 2px;
}

.comment-textarea {
    width: 95%;
    margin: auto;
}

.comm-pic-pad {
    padding: 10px;
}

li.commborder { border: none; }

.comm-hr {
    border-top: 1px solid #000000;
}

.flw-cube:hover {
    background-color: #DCDCDC;
}

.flw-link {
    color: #000000;
}

.flw-link:hover, .flw-link:visited {
    text-decoration: none;
    color: #000000;
}


@media (min-width: 768px) {

    .main-feed {
        height: 700px;
        position: relative;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
    }

    .profile-feed {
        height: 590px;
        position: relative;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
    }

    .search-scroller {
        height: 600px;
        position: relative;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
    }
}

.list-group {
    margin-top: 1px;
    margin-bottom: 1px;
}
