<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Edit Page
            </a>
        </div>
        <div class="navbar-header pull-right">
            <p class="navbar-text">
                <a ng-click="model.updatePage()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <br><br>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.currPage.name" type="text" class="form-control" id="Name"
                   placeholder="Page Name" required>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="model.currPage.title" type="text" class="form-control"
                   id="Title" placeholder="Page Title">
        </div>
    </form>
    <a class="btn btn-danger btn-block" ng-click="model.deletePage()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container pull-right">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>