<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Pages
            </a>
        </div>
        <div class="navbar-header pull-right">
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <br><br>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="page in model.pages">
            <a href="#/user/{{model.userId}}/website/{{page._website}}/page/{{page._id}}/widget">{{page.name}}</a>
            <a href="#/user/{{model.userId}}/website/{{page._website}}/page/{{page._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container pull-right">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>