<p class="glyphicon glyphicon-chevron-left headline-main"
   ng-class="(!model.rating.value || !model.rating) ? 'rating-positive' : 'rating-positive-selected'"
   ng-click="model.rate(true)"></p>
<span class="headline-main">&nbsp;{{model.ratingCount}}&nbsp;</span>
<p class="glyphicon glyphicon-chevron-right headline-main"
   ng-class="(model.rating.value || !model.rating) ? 'rating-negative' : 'rating-negative-selected'"
   ng-click="model.rate(false)"></p>