<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tirNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/user/{{$root.currentUser._id}}">Tir</a>
            <p ng-show="$root.currentUser" class="navbar-text">Logged in as: {{$root.currentUser.username}}</p>
        </div>
        <div class="collapse navbar-collapse" id="tirNav">
            <form class="navbar-form navbar-right">
                <a ng-click="model.logout()" class="btn btn-default btn-block">Logout</a>
            </form>

            <div class="navbar-header navbar-right">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/user/profile/{{currentUser._id}}">
                            <span class="glyphicon glyphicon-user hidden-xs"></span>
                            <span class="visible-xs">View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/user/edit/{{currentUser._id}}">
                            <span class="glyphicon glyphicon-cog hidden-xs"></span>
                            <span class="visible-xs">Edit Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" ng-model="keyword" class="form-control" placeholder="Search for users">
                </div>
                <a href="#/search/{{keyword}}" class="btn btn-default hidden-xs">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href="#/search/{{keyword}}" class="btn btn-default visible-xs">
                    <span>Search</span>
                </a>
            </form>
        </div>
    </div>
</nav>
<br>

<div class="container-fluid">
    <br>
    <h1>Followers</h1>
    <br>
    <div class="list-group" ng-repeat="follow in model.followerTuple">
        <a href="#/user/profile/{{follow.uid}}" class="list-group-item list-group-item-action">
            <img ng-if="follow.picture" ng-src="{{follow.picture}}"
                 class="img-circle pull-left" height="20" width="20">
            &nbsp;{{follow.username}}
        </a>
    </div>
</div>