 <div class="container">
     <h1>Login</h1>

     <div class="alert alert-danger" ng-show="model.error">
         {{model.error}}
     </div>

     <input type="text" ng-model="user.username" class="form-control"
            placeholder="username" autocorrect="off" autocapitalize="off" ng-required="required"/>
     <input type="password" ng-model="user.password" class="form-control" placeholder="password"
            ng-required="required"/>
     <a class="btn btn-primary btn-block" ng-click="model.login(user)">Login</a>
     <a class="btn btn-success btn-block" href="#/register">Register</a>
     <a href="/auth/facebook" class="btn btn-primary btn-block">
         <span class="fa fa-facebook"></span>
         Facebook
     </a>
 </div>