<div class="container">

        <div ng-if="model.error" class="alert alert-danger" role="alert">
            <strong>{{model.error}}</strong>
        </div>

        <h1>Register</h1>
        <input type="text" ng-model="username" class="form-control" placeholder="username" required/>
        <input type="password" ng-model="password" class="form-control" placeholder="password" required/>
        <input type="password" ng-model="verify" class="form-control" placeholder="verify password" required/>
        <a class="btn btn-primary btn-block" ng-click="model.register(username, password, verify)">Register</a>
        <a class="btn btn-danger  btn-block" href="#/login">Cancel</a>
</div>