<div ng-switch="model.widgt.type">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/widget-heading.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/widget-image.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/widget-youtube.view.client.html'">
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/widget-text.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/widget-html.view.client.html'">
    </div>
</div>