<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Widgets
            </a>
        </div>
        <div class="navbar-header pull-right">
            <p class="navbar-text">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<br>
<div class="container">
    <div class="widget-list" wbdv-sortable>
        <div ng-repeat="widget in model.widgets" ng-switch="widget.type">
            <div class="widget-overlay">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch-when="HEADER" ng-switch="widget.size">
                <h1 ng-switch-when="1">{{widget.text}}</h1>
                <h2 ng-switch-when="2">{{widget.text}}</h2>
                <h3 ng-switch-when="3">{{widget.text}}</h3>
                <h4 ng-switch-when="4">{{widget.text}}</h4>
                <h5 ng-switch-when="5">{{widget.text}}</h5>
                <h6 ng-switch-when="6">{{widget.text}}</h6>
            </div>

            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>
            <div ng-switch-when="TEXT">
                <div ng-if="widget.formatted" text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                 ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                 ['indent','outdent'],['html']]"></div>
                <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                       placeholder="{{widget.textInput.placeholder}}" class="form-control"/>
                <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                          rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                          class="form-control">{{widget.text}}</textarea>
            </div>
            <div ng-switch-when="HTML" ng-bind-html="widget.text">
                <p ng-bind-html="model.renderHTML(widget)"></p>
            </div>

            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <iframe width="100%" height="{{widget.height}}"
                        src="{{model.renderYoutube(widget)}}" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
        <div class="row navbar-text pull-left">
            <div class="col-xs-3 text-center pull-left">
                <a href="#">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center pull-left">
                <a href="#">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
        </div>
    </div>
</nav>