<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.widgetId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Widget Edit
            </a>
        </div>
        <div class="navbar-header pull-right">
            <p class="navbar-text">
                <a ng-click="model.updateWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <br><br>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widgt.name" type="text" class="form-control" id="Name" required>
        </div>
        <div class="form-group">
            <label for="txt">Text</label>
            <input ng-model="model.widgt.text" type="text" class="form-control" id="Txt">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widgt.url" type="text" class="form-control" id="Url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widgt.width" type="text" class="form-control" id="Width" maxlength="3">
        </div>
    </form>
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <label>Upload</label>
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widgt.width}}" style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId" value="{{model.widgt._id}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr"
           class="btn btn-block btn-primary ">Flickr Search</a>
    </form>
    <br>
    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>