<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <br><br>
    <ul class="list-group">
        <a ng-click="model.newWidget('HEADER')"><li class="list-group-item">Header</li></a>
        <li class="list-group-item">Label</li>
        <a ng-click="model.newWidget('HTML')"><li class="list-group-item">HTML</li></a>
        <a ng-click="model.newWidget('TEXT')"><li class="list-group-item">Text Input</li></a>
        <li class="list-group-item">Link</li>
        <li class="list-group-item">Button</li>
        <a ng-click="model.newWidget('IMAGE')"><li class="list-group-item">Image</li></a>
        <a ng-click="model.newWidget('YOUTUBE')"><li class="list-group-item">YouTube</li></a>
        <li class="list-group-item">Data Table</li>
        <li class="list-group-item">Repeater</li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>