<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add News Topic</h4>
            <p>Add a new news topic to follow</p>
        </div>
        <div class="modal-body text-center">
            <br><br>
            <div class="form-group">
                <input type="text" ng-model="topicName"
                       uib-typeahead="state for state in model.articleTuple | filter: $viewValue | limitTo:5"
                       class="form-control" required>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="model.addTopic(topicName)">Add Topic</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>