<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Share Article</h4>
        </div>
        <div class="modal-body text-center">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-target="#panel1" data-toggle="pill">Followers</a></li>
                <li><a data-target="#panel2" data-toggle="pill">Following</a></li>
            </ul>
            <br><br>
            <div class="tab-content">
                <div class="tab-pane active" id="panel1">
                    <div class="form-group">
                        <input type="text" ng-model="username"
                               uib-typeahead="state for state in model.followerTuple | filter: $viewValue | limitTo:5"
                               class="form-control">
                    </div>
                </div>
                <div class="tab-pane" id="panel2">
                    <div class="form-group">
                        <input type="text" ng-model="username"
                               uib-typeahead="state for state in model.followingTuple | filter: $viewValue | limitTo:5"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"
                    ng-click="model.shareToProfile(username, model.selectedArticle)">Share Topic</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>