<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Topics</h4>
            <p>Edit news sources currently on your feed.</p>
        </div>
        <ul class="list-group" ng-repeat="feed in model.feeds">
            <li class="list-group-item edit-modal-adjust">
                <button class="close pull-right" type="button" data-dismiss="modal" ng-click="model.removeFeed(feed)">&times;</button>
                {{feed.name}}
            </li>
        </ul>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>