<ul class="list-group" ng-repeat="comment in commentsTuple">
    <li class="list-group-item commborder">
        <div class="comm-head-pad">
            <ul ng-show="!isEditing && model.isCommentOwner(comment)" class="list-inline pull-right">
                <li>
                    <a class="pull-right">
                        <span ng-click="isEditing = !isEditing" class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
                <li>
                    <a class="pull-right" ng-click="model.removeComment(comment._id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </li>
            </ul>
            <div ng-show="isEditing">
                <a class="pull-right" ng-click="isEditing = !isEditing">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <br><br>
                <form class="form-horizontal comment-textarea" role="form">
                    <div class="form-group">
                        <textarea ng-model="comment.text" class="form-control"
                                  rows="3" id="comment">{{comment.text}}</textarea>
                    </div>
                    <div class="form-group">
                        <button ng-click="model.editComment(comment._id, comment);
                        isEditing = !isEditing;" class="btn btn-default">Edit Post
                        </button>
                    </div>
                </form>
            </div>
            <div ng-show="!isEditing" class="media">
                <div class="media-left">
                    <img ng-if="comment.picture" ng-src="{{comment.picture}}"
                         class="" height="55" width="55">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#/user/profile/{{comment.userId}}">{{comment.poster}}</a> -
                            <small>{{model.toReadableDate(comment.date)}}</small>
                        </h4>
                    <p>{{comment.text}}</p>
                </div>
            </div>
        </div>
    </li>
</ul>